<a href="https://colab.research.google.com/github/ryan-jayke/people_analytics/blob/main/analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.read_csv('HR_Analytics.csv')
X = df.iloc[:, :].drop("Attrition", axis=1).values
y = df.loc[:, "Attrition"].values

In [4]:
print(X)

[['RM297' 18 '18-25' ... 0 0 0.0]
 ['RM302' 18 '18-25' ... 0 0 0.0]
 ['RM458' 18 '18-25' ... 0 0 0.0]
 ...
 ['RM537' 60 '55+' ... 2 2 2.0]
 ['RM880' 60 '55+' ... 7 1 9.0]
 ['RM1210' 60 '55+' ... 0 0 0.0]]

In [5]:
print(y)

['Yes' 'No' 'Yes' ... 'No' 'No' 'No']